<div class="bg-img">
        <h3 style="color: green; text-align: center;">{{msg}}</h3>

<br>
<div class="container">
        <!-- <h1 style="font-family: 'Times New Roman', Times, serif;background:olivedrab;text-align: center; color: white;" >Students Request </h1> -->
        <h1 style="color:red;font-family:'Times New Roman', Times, serif;text-align:center">Students Request</h1>

<table class="table table-striped  mt-5 ">
    <thead class="thead-inverse bg-dark">
        <tr style="color: white;">
            
            <th>User Id</th>
            <th>Book Id</th>
            <th>Reg Date</th>
            <th>Accept</th>
            <th>Decline</th>
        </tr>
        </thead>
        <tbody class="bg-light">
            <tr *ngFor='let reqs of bookRequests'>
                <td>{{reqs.userId}}</td>
                <td>{{reqs.bookId}}</td>
                <td>{{reqs.regDate}}</td>
                <td><button class="btn btn-dark"(click)='acceptReq(reqs)'>Accept</button></td>
                <td><button class="btn btn-info" (click)='decline(reqs)'>Decline</button></td>
            </tr>
            
        </tbody>
</table>
</div>
</div>